* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    outline: 1px solid red;
}
.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 20%;
}
.sidebar {
    grid-column: 1/2;
    grid-row: 1/6;
    background-color: aqua;
    
}
.sidebar-content {
    display: flex;
    flex-direction: column;
}
.sidebar-top {
    padding: 10px;
}

.sidebar-mid, .sidebar-bottom {
    padding: 20px;
}
.header {
    grid-column: 2/5;
    grid-row: 1/2;
    box-shadow: 0px 5px 5px grey;
}
.main {
    z-index: -1;
    grid-column: 2/5;
    grid-row: 2/6;
    background-color: rgb(224, 224, 224);
}
