* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

    /* outline: 1px solid red; */
}
.page {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 20%;
}
.sidebar {
    grid-column: 1/2;
    grid-row: 1/6;
    background-color: #7E2A9F;
    color: white;
    
}
.sidebar-content {
    display: flex;
    flex-direction: column;
}
.sidebar-top {
    padding: 10px;
}

.sidebar-mid, .sidebar-bottom {
    padding: 20px;
}
.header {
    z-index: 2;
    grid-column: 2/5;
    grid-row: 1/2;
    box-shadow: 0px 5px 5px grey;
}
.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
.header-nav {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-nav-buttons {
    justify-content: right;
    padding: 30px;
    margin: 10px;
}
.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main {
    grid-column: 2/5;
    grid-row: 2/6;
    background-color: rgb(228, 228, 228);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    
}
.main-label {
    padding: 10px
}
.main-projects {
   grid-column: 1/7;

}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.project-item {
    background-color: white;
    padding: 30px;
    margin: 10px;
    box-shadow: inset 10px 0px 0px #CB6CD8;
    border-radius: 10px;
}
.main-announcements {
    grid-column: 7/9;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
.announcement-items {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
}
.announcement {
    margin: 10px
}
.trending-account-container {
    background-color: white;
    align-self: flex-end;
    border-radius: 10px;
}
.trending-account {
    display: flex;
    justify-content: space-evenly;
}